# Default npm flag settings
# Put this `.npmrc` file in your npm project root next to `package.json`

# Always save packages that get installed to avoid "missing dependencies"
save = true

# Always save the EXACT version that you ran and installed.
# upgrade to latest version on each new version (put `npm outdated` in your CI)
# `npm outdated && yarn upgrade --latest && npm outdated`
#save-exact = true
save-exact = false

# Do not tag commit on `npm version`
# I prefer to do this manually with release notes
git-tag-version = false
